@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #00BCD4 1.84%, #3F51B5 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%,#8cf5ea 99.55%);
  --gradient-clr: linear-gradient(103.22deg, #e79c92 -13.86%,#abd0d6 99.55%);
  
  --color-bg: #04244a;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #fcfcfa;
  --color-subtext: #FF8A71;
}